<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <style>
        .card {
            border: 1px solid #e2e2e2;
            border-radius: 5px;
        }

        .card-body {
            padding: 20px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .btn-submit {
            margin-right: 10px;
        }

        .btn-cancel {
            margin-left: 10px;
        }

        .btn-group {
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div th:include="index :: navbar"></div>
<div class="container my-5">
  <h3>Edit User</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-10">
        <form th:action="@{/user/update}" th:object="${user}" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}"
                   placeholder="Enter email" required>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}"
                   placeholder="Password" required>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                 class="text-danger"></div>
          </div>
          <div class="form-group">
            <label for="privilege">Privilege</label>
            <select class="form-control" id="privilege" name="privilege">
              <option value="admin" th:selected="${user.hr and user.manager}">Admin</option>
              <option value="hr" th:selected="${user.hr and !user.manager}">HR</option>
              <option value="manager" th:selected="${!user.hr and user.manager}">Manager</option>
              <option value="employee" th:selected="${!user.hr and !user.manager}">Employee</option>
            </select>
          </div>
          <div class="form-group">
            <label for="departement">Department</label>
            <select class="form-control" id="departement" th:field="*{departement}" required>
              <option value="">Select Department</option>
              <option th:each="departement : ${departments}" th:value="${departement.id}"
                      th:text="${departement.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('departement')}" th:errors="*{departement}"
                 class="text-danger"></div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
              <button type="submit" class="btn btn-primary btn-submit">Submit</button>
              <button type="reset" class="btn btn-secondary btn-cancel">Reset</button>
              <a href="/user/list" class="btn btn-link btn-cancel">Ignore</a>
            </div>
          </div>
          <input type="hidden" id="id" th:field="*{id}">
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
