<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <style>
        .header {
            background-color: #007bff;
            color: white;
        }

        .btn-primary {
            margin-right: 5px;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }
    </style>
</head>

<body>
<div th:insert="~{index :: navbar}"></div>
<div class="container my-5">
    <div class="card">
        <div class="card-header header">
            <h2 class="mb-0">User Details</h2>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-6">
                    <p><strong>User ID:</strong> <span th:text="${user.id}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
                    <p><strong>Privilege:</strong> <span th:text="${user.hr && user.manager ? 'Admin' : (user.hr ? 'HR' : (user.manager ? 'Manager' : 'Employee'))}"></span></p>
                    <p><strong>Department ID:</strong> <span th:text="${user.departement?.id}"></span></p>
                    <p><strong>Department Name:</strong> <span th:text="${user.departement?.name}"></span></p>
                </div>
                <div class="col-md-6">
                    <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                    <a th:href="@{/user/list}" class="btn btn-secondary">
                        <i class="fas fa-list"></i> Back to List
                    </a>
                </div>
            </div>
            <h3>Leave Requests</h3>
            <table class="table table-striped table-responsive-md">
                <thead class="thead-dark">
                <tr>
                    <th>Request ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="demande : ${demandesConges}">
                    <td th:text="${demande.id}"></td>
                    <td th:text="${#dates.format(demande.startDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(demande.endDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${demande.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
