<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>List of Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <style>
    .header {
      background-color: #007bff;
      color: white;
    }
    .btn-primary {
      margin-right: 5px;
    }
    .table th, .table td {
      vertical-align: middle;
    }
  </style>
</head>

<body>
<div th:insert="~{index :: navbar}"></div>

<div class="container my-5">
  <div class="card">
    <div class="card-header header">
      <h2 class="mb-0">List of Users</h2>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="/user/add" class="btn btn-success">
          <i class="fas fa-plus"></i> Add User
        </a>
      </div>
      <div th:switch="${users}">
        <div th:case="null" class="alert alert-warning">
          No Users found! Please add some users.
        </div>
        <div th:case="*">
          <table class="table table-striped table-responsive-md">
            <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Email</th>
              <th>Privilege</th>
              <th>Department Id</th>
              <th>Department Name</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.hr && user.manager ? 'Admin' : (user.hr ? 'HR' : (user.manager ? 'Manager' : 'Employee'))}"></td>
              <td th:text="${user.departement?.id}"></td>
              <td th:text="${user.departement?.name}"></td>
              <td>
                <a th:href="@{/user/show/{id}(id=${user.id})}" class="btn btn-info btn-sm">
                  <i class="fas fa-info-circle"></i> Details
                </a>
                <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary btn-sm">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash-alt"></i> Delete
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
