<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>List of Departments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <style>
        .header {
            background-color: #007bff;
            color: white;
        }
        .btn-primary {
            margin-right: 5px;
        }
        .table th, .table td {
            vertical-align: middle;
        }
    </style>
</head>

<body>
<div th:include="index :: navbar"></div>

<div class="container my-5">
    <div class="card">
        <div class="card-header header">
            <h2 class="mb-0">List of Departments</h2>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <a href="/department/add" class="btn btn-success">
                    <i class="fas fa-plus"></i> Add Department
                </a>
            </div>
            <div th:switch="${departments}">
                <div th:case="null" class="alert alert-warning">
                    No Department found !! Please add some departments.
                </div>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="department : ${departments}">
                            <td th:text="${department.id}"></td>
                            <td th:text="${department.name}"></td>
                            <td>
                                <a th:href="@{/department/edit/{id}(id=${department.id})}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <a th:href="@{/department/show/{id}(id=${department.id})}" class="btn btn-info btn-sm">
                                    <i class="fas fa-eye"></i> Show
                                </a>
                                <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" th:attr="data-target='#deleteModal'+${department.id}">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div th:each="department : ${departments}">
    <div class="modal fade" th:id="'deleteModal'+${department.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Department</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete users in this department?</p>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/department/delete/{id}(id=${department.id}, deleteUsers=true)}" class="btn btn-danger">Yes</a>
                    <a th:href="@{/department/delete/{id}(id=${department.id}, deleteUsers=false)}" class="btn btn-warning">No</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
