<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Department Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <style>
        .header {
            background-color: #007bff;
            color: white;
        }

        .btn-primary {
            margin-right: 5px;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }
    </style>
</head>

<body>
<div th:insert="~{index :: navbar}"></div>
<div class="container my-5">
  <div class="card">
    <div class="card-header header">
      <h2 class="mb-0">Department Details</h2>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <a th:href="@{/department/list}" class="btn btn-primary">
          <i class="fas fa-arrow-left"></i> Back to List
        </a>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Department Information</h4>
          <table class="table table-bordered">
            <tbody>
            <tr>
              <th scope="row">ID</th>
              <td th:text="${department.id}"></td>
            </tr>
            <tr>
              <th scope="row">Name</th>
              <td th:text="${department.name}"></td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <a th:href="@{/department/edit/{id}(id=${department.id})}" class="btn btn-primary">
              <i class="fas fa-edit"></i> Edit
            </a>
            <a href="#" class="btn btn-danger" data-toggle="modal"
               th:attr="data-target='#deleteModal' + ${department.id}">
              <i class="fas fa-trash-alt"></i> Delete
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h4>List of Employees</h4>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Privilege</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.hr && user.manager ? 'Admin' : (user.hr ? 'HR' : (user.manager ? 'Manager' : 'Employee'))}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" th:id="'deleteModal' + ${department.id}" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this department?</p>
      </div>
      <div class="modal-footer">
        <a th:href="@{/department/delete/{id}(id=${department.id}, deleteUsers=true)}" class="btn btn-danger">Yes</a>
        <a th:href="@{/department/delete/{id}(id=${department.id}, deleteUsers=false)}" class="btn btn-warning">No</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
